
<div class="movie-dashboard">
    <h1 class="dashboard-title">Movie Dashboard</h1>
  
  </div>
  <table class="table table-bordered table-striped movie-table">
    <thead class="table-dark">
      <tr>
        <th>title</th>
        <th>genre</th>
        <th>description</th>
        <th>more details</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.title}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.description}}</td>
        <td><button *ngIf="movie.id" class="btn btn-danger me-2" (click)="moviedetail(movie.id)">show details</button></td>
      </tr>
      
    </tbody>
    
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled': page === 0}">
        <button class="page-link" (click)="previousPage()" [disabled]="page === 0">Previous</button>
      </li>
      
      <li class="page-item disabled">
        <span class="page-link">{{ page + 1 }} of {{ totalPages }}</span>
      </li>
  
      <li class="page-item" [ngClass]="{'disabled': page === totalPages - 1}">
        <button type="button" class="page-link" (click)="nextPage()">Next</button>
      </li>
    </ul>
  </nav>
  

