<table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>title</th>
        <th>genre</th>
        <th>description</th>
        <th>year</th>
        <th>poster</th>
        <th>director</th>
        <th>redirect</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngIf="movie">
        <th>{{movie.title}}</th>
        <th>{{movie.genre}}</th>
        <th>{{movie.description}}</th>
        <th>{{movie.year}}</th>
        <th>          
          <img [src]="movie.poster" alt="{{ movie.poster }}" width="100" height="150">
        </th>
        <th>{{movie.director}}</th>
        <th>
          <button class="btn btn-danger me-2" (click)="redirect()">Home</button>
        </th>
      </tr>
      
    </tbody>
    
  </table>
